/*  your css code here. If applicable */
body {
	box-sizing: border-box;
}
.active {
	background-color:rgb(112,113,112);
}

.modal {
	background-color:white;
	position:relative;
	animation: move 1s 1 forwards;
	display:flex;
	justify-content:center;
	width:100%;
	display:none;
}

.modal-content {
	width:100%;
}

.modal-header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	background-color:rgb(79,171,77);
	color:white;
	width:100%;
	padding:1rem 0 1rem 1rem;
}

#close-btn {
	margin-right:100px;
}

.modal-body {
	padding:1rem;
}

@keyframes move {
	from {
		top:0px
	}
	to {
		top:150px;
	}
}